.about__container {
  margin-top: -7rem;
  display: flex;
  flex-direction: column;
}

.about__cards {
  display: grid;
<<<<<<< HEAD
  grid-template-columns: repeat(2, 1fr);
=======
  grid-template-columns: repeat(3, 1fr);
>>>>>>> 0f2d4ca52a1b58f79dedb7af451c9f5a7030d968
  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
<<<<<<< HEAD
  justify-content: justify;
}

.about__container a {
  margin: 0 auto;
=======
}

.about__container a {
  margin-left: 26.5rem;
>>>>>>> 0f2d4ca52a1b58f79dedb7af451c9f5a7030d968
}

/* ==================== MEDIA QUERIES (TABLETS OR MEDIUM DEVICE) =============== */

@media screen and (max-width: 1024px) {
  .about__container {
    display: flex;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
<<<<<<< HEAD
    justify-content: justify;
=======
>>>>>>> 0f2d4ca52a1b58f79dedb7af451c9f5a7030d968
  }

  .about__container a {
    margin-left: 17rem;
  }
}

/* ==================== MEDIA QUERIES (ANDROIDS OR SMALL DEVICE)=============== */

@media screen and (max-width: 600px) {
  .about__container {
    margin-top: -15rem;
  }
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
<<<<<<< HEAD
    justify-content: justify;
=======
>>>>>>> 0f2d4ca52a1b58f79dedb7af451c9f5a7030d968
  }

  .about__container a {
    margin-left: 1rem;
  }
}
